@import '../settings/variables';

.home {
    display: flex;
    flex-direction: column;
    background: url('/src/assets/Home-Hero-Image.jpg') no-repeat top 1% left -40%/55%;

    &__homeheader {
        display: flex;
        justify-content: flex-end;
        max-height: 60.188em;

        &__text {
            display: flex;
            gap: 1em;
            flex-direction: column;
            white-space: nowrap;
            align-items: center;
            justify-content: flex-end;
            padding: 8.5em 0;
        }
    }
}
.HomeThreeColumns {
    background: url('/src/assets/3-Columns-Background.png') repeat;
    padding: 2.575em 5.188em 4.375em;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        max-width: 20.875em;
        max-height: 15.750em;
        line-height: 1.6;

        span {
            font-size: 5.625em;
            font-weight: lighter;
        }

        h6 {
            text-transform: uppercase;
            white-space: nowrap;
            margin-bottom: 1.750em;
            text-align: center;
        }

        p {
            white-space: nowrap;
            font-size: 1.000em;
            font-family: $font-family-second;
        }
    }
}