@import '../settings/variables';

.HomeThreeColumns {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 1.2em 4em;
    background-color: $color-yellow;
    max-height: 40%;

    &__box {
        text-align: center;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    h6 {
        text-transform: uppercase;
        margin-top: 1em;
    }
}
