@import '../settings/variables';

.home {
    display: flex;
    flex-direction: column;
    background: url('/src/assets/Home-Hero-Image.jpg') no-repeat top left/55%;

    &__homeheader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 9.5em;

        &__text {
            display: flex;
            gap: 1em;
            flex-direction: column;
            text-align: center;
            white-space: nowrap;
            align-items: center;
            justify-content: flex-end;
            padding: 1em;
        }
    }
}




.HomeThreeColumns {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 1.6em 7em;
    background-color: $color-yellow;
    max-height: 40%;

    &__box {
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 25%;
        gap: 1.35em;
    }

    h6 {
        text-transform: uppercase;
        margin-top: 1em;
    }
}
