@import '../settings/variables';
.whowehelp {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;


    &__description {
        text-align: center;
        margin: 0 22em;
        padding: 2.5em 0;
    }

    &__container {
        margin: 0 150px 75px;
        background-color: $color-white;


        &__element {
            display: flex;
            justify-content: space-between;
            padding: 0.5em 0;
            font-family: $font-family-second;
            font-weight: lighter;

            span {
                color: $color-dark-grey;
            }

            &-part1 {
                display: flex;
                flex-direction: column;
                text-align: left;
                line-height: normal;
                font-style: italic;

                &:last-child {
                    border-bottom: 1px solid $color-grey;
                }
            }
        }
    }

    &__navigation {
        display: flex;
        justify-content:center;
        gap: 1em;
        padding: 1em 0;

        &__button {
            background-color: $color-white;
            padding: 13px 15px;
            border: 0;
        }
    }
}

.whowehelp__active {
    border: 1px solid $color-grey;
}

.separator {
    display: block;
    height: 1px;
    background: $color-grey;
    margin: 1em 0;
}