@import './variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-basic;
    background-color: $color-white;
}

.container {
    margin-right: 142px;
}

h3 {
    font-size: 3rem;
    font-weight: lighter;
}
h5 {
    font-size: 1.5rem;
}

.decoration-line {
    max-width: 10em;
}

a {
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.line {
    display: block;
    height: 1px;
    width: 5em;
    background: #222;
    flex-grow: 1;
  }