@import './variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-basic;
    background-color: $color-white;
}

.container {
    margin-right: 142px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 3rem;
    font-weight: lighter;
}
h4 {
    font-size: 22px;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 18px;
}

.decoration-line {
    width: 253px;
    height: 33px;
}

a {
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.line {
    display: block;
    height: 1px;
    width: 5em;
    background: #222;
    flex-grow: 1;
}
.d-none {
    display: none;
}