$color-base: #F0F1F1;
$color-white:#FFFFFF;
$color-dark-yellow: #5E5322;
$color-yellow: #FAD648;
$color-grey: #737373;
$color-dark-grey: #3C3C3C;
$color-red-errors: rgb(228, 24, 24);
$color-green-success: green;

$font-family-basic: 'Open Sans', sans-serif;
$font-family-second: 'Merriweather', serif;